.ayodhya3 {
  position: absolute;
  top: 313px;
  left: 88px;
  font-weight: 600;
}
.ayodhya-item,
.ayodhya2 {
  position: absolute;
  top: 0;
  width: 300px;
}
.ayodhya-item {
  left: 41px;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
}
.ayodhya2 {
  left: 0;
  height: 349px;
}
.rishikesh3 {
  position: absolute;
  top: 313px;
  left: 80px;
  font-weight: 600;
}
.rishikesh-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.haridwar2,
.rishikesh2 {
  top: 0;
  width: 300px;
  height: 349px;
}
.rishikesh2 {
  position: absolute;
  left: 322px;
}
.haridwar2 {
  left: 644px;
}
.haridwar2,
.jammu2,
.jammu3 {
  position: absolute;
}
.jammu3 {
  top: 313px;
  left: 106px;
  font-weight: 600;
}
.jammu2 {
  top: 0;
  left: 1609px;
  width: 300px;
  height: 349px;
}
.mussoorie3 {
  position: absolute;
  top: 313px;
  left: 73px;
  font-weight: 600;
  display: inline-block;
  width: 153px;
}
.mussoorie2 {
  top: 0;
  left: 966px;
  width: 300px;
  height: 349px;
}
.katra2,
.katra3,
.mussoorie2 {
  position: absolute;
}
.katra3 {
  top: 313px;
  left: 111px;
  font-weight: 600;
}
.katra2 {
  top: 0;
  left: 1931px;
  width: 300px;
  height: 349px;
}
.manali3 {
  position: absolute;
  top: 313px;
  left: 102px;
  font-weight: 600;
}
.manali2 {
  position: absolute;
  top: 0;
  left: 2253px;
  width: 300px;
  height: 349px;
}
.shimla3 {
  position: absolute;
  top: 313px;
  left: 101px;
  font-weight: 600;
}
.shimla2 {
  top: 0;
  left: 1288px;
  width: 300px;
}
.ayodhya4,
.property-1frame-1,
.shimla2 {
  position: absolute;
  height: 349px;
}
.property-1frame-1 {
  top: 20px;
  left: -41px;
  width: 1278px;
  overflow-x: auto;
}
.ayodhya4 {
  top: 0;
  left: -1276px;
  width: 300px;
}
.haridwar4,
.jammu4,
.katra4,
.mussoorie4,
.rishikesh4 {
  position: absolute;
  top: 0;
  left: -954px;
  width: 300px;
  height: 349px;
}
.haridwar4,
.jammu4,
.katra4,
.mussoorie4 {
  left: -632px;
}
.jammu4,
.katra4,
.mussoorie4 {
  left: 333px;
}
.katra4,
.mussoorie4 {
  left: -310px;
}
.katra4 {
  left: 655px;
}
.manaliali {
  position: absolute;
  top: 313px;
  left: 99.36px;
  font-weight: 600;
  display: inline-block;
  width: 108.48px;
}
.manali-inner,
.manali4 {
  position: absolute;
  top: 0;
  width: 293px;
}
.manali-inner {
  left: 0;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
}
.manali4 {
  left: 977px;
  height: 385px;
}
.property-1frame-2,
.shimla4 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 300px;
  height: 349px;
}
.property-1frame-2 {
  top: 616px;
  left: 79px;
  width: 1270px;
  overflow-x: auto;
}
.component-12 {
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 100%;
  height: 985px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
